@model IEnumerable<FIT5032.Models.Clinic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clinic</h2>
@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

}


<table class="table" id="datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClinicAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>Option</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClinicAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })

                    @if (User.IsInRole("admin"))
                    {
                        <span>|</span>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        <span>|</span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                    }

                </td>
            </tr>
        }
    </tbody>
</table>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/datatable")
@section scripts{
    <script>
        $(document).ready(function () {
            let table = new DataTable('#datatable');
        })
    </script>
}
